.list {
    width: 10%;
    height: 90%;
    background-color: rgb(201, 201, 201);
    position: fixed;
    left: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list p {
    cursor: pointer; /* Cambia el puntero a una mano de selección */
    transition: background-color 0.3s ease; /* Agrega una transición suave al fondo */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .list p:hover {
    background-color: rgb(169, 169, 169); /* Cambia el color de fondo al pasar el cursor */
  }