table {
    width: 90%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 15%;
    top: 10%;
    margin-left: 10px;
}


.customTable {
    table-layout: fixed; 
}

.customTable th {
    text-align: center;
    padding: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.customTable td {
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
