.table {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 15%;
    top: 10%;
    margin-left: 10px;
}

.customTable {
    table-layout: fixed; 
}

.customTable th {
    text-align: center;
    padding: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.customTable td {
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.delete {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 222, 222);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.edit {
    width: 90%;
    height: 90%;
    background-color: rgb(176, 249, 176);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 12px;
}